@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Aclonica';
  src: url('/fonts/Aclonica-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .clip-img{
    clip-path: polygon(30% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
}

body::-webkit-scrollbar{
  display: none;
}